{
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "semi": true
}
